<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="parameter_framework" name="Parameter Framework" schema="schema/parameter_framework.exsd"/>


  <extension
        id="PlayParameters"
        name="PlayCustomParameters"
        point="com.testingtech.ttworkbench.ttman.parameters.parameters">
     <editor
           class="ttworkbench.ttman.parameters.impl.IPv4EditorFactory"
           description="Creates editor for IPv4 parameters with charstring and octetstring types."
           name="IPv4 address">
     </editor>
     <editor
           class="ttworkbench.ttman.parameters.impl.IPv6EditorFactory"
           description="Creates editor for IPv6 parameters with charstring and octetstring types."
           name="IPv6 address">
     </editor>
     <validator
           class="ttworkbench.ttman.parameters.impl.IPv4ValidatorFactory"
           description="IPv4 address validator"
           name="IPv4 address">
     </validator>
     <validator
           class="ttworkbench.ttman.parameters.impl.IPv6ValidatorFactory"
           description="IPv6 address validator"
           name="IPv6 address">
     </validator>
     <valueprovider
           class="ttworkbench.ttman.parameters.impl.IPv4ParameterValueProviderFactory"
           description="IPv4 address local addresses"
           name="IPv4 local address">
     </valueprovider>
     <valueprovider
           class="ttworkbench.ttman.parameters.impl.IPv6ParameterValueProviderFactory"
           description="IPv6 address local addresses"
           name="IPv6 local address">
     </valueprovider>
     <widget
           class="ttworkbench.ttman.parameters.impl.DefaultWidgetFactory"
           description="default widget that contains the rest of the editors"
           name="default widget">
     </widget>
     <widget
           class="ttworkbench.ttman.parameters.impl.IPv6WidgetFactory"
           description="IPv6 widget is a tab in the properties view for IPv6 specific parameter settings."
           name="IPv6 widget">
     </widget>
  </extension>

</plugin>
